*.FCStd1
**latex/
**html/
*.gcode
*.zip
*.pdf
**-backups
**fp-info-cache
**executables/
**obj/
*.*~
**/compile_commands.json
/Core/
/Debug/
**/Drivers/
**/Middlewares/
**build/
**.cache/
**.vscode/
Debug/
#ESP32-S3 dowloaded idf-components
**managed_components/
**dependencies.lock

Codigo/Firmware/Main_board_HID/ESP32-S3/.devcontainer/
Codigo/Firmware/Main_board/.devcontainer/
Codigo/Interfaz_grafica/Interfaz_gtk/cmake_install.cmake
Codigo/Interfaz_grafica/Interfaz_gtk/CMakeCache.txt
Codigo/Interfaz_grafica/Interfaz_gtk/CMakeFiles/
**compile_commands.json

# Pcb releases
*_PCB_v*
**releases
**Gerber
**.csv
**.xml
**.log
**.lck
**.xlsx
